<!doctype html>
<html>
    <head>
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!-- Socket io library for use with Flask-SocketIO -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

        <!-- Custom jQuery and javascript for this app -->
        <script src="{{ url_for('static', filename='index_scripts.js')}}"></script>

        <!-- Custom style sheet for this app -->
        <link rel="{{ url_for('static', filename='vc_styles.css')}}">
    </head>

    <body>
    <div class="container">
        <div class="row">
            <center><h2>VoteCalc - Host</h2></center>
        </div>
        <div class="row">
            <div class="col-md-3">
                <fieldset class="form-group well">
                   <h5>Choose Session</h5>
                    <div class="form-group">
                        <label><input type="radio" name="optSession" value = "new" checked="checked"> New</label>
                        <div style="margin-top: 5px; margin-left: 20px; margin-bottom: 15px;">
                            <button class="btn btn-default" id="btnCreate">Create</button>
                        </div>
                        <label><input type="radio" name="optSession" value="existing"> Existing</label>
                        <div style="margin-left: 20px;">
                            <div style="margin-top: 5px; margin-bottom: 5px;">
                                <input class="form-control" style="width: 100px" id="txtSession" placeholder="aann" type="text"/>
                            </div>
                            <button id="btnJoin" class="btn btn-default">Join</button>
                        </div>
                    </div>
                </fieldset>
                <div style="margin-top: 20px; margin-bottom: 5px;">
                    <button id="btnReset" class="btn btn-default">Reset Votes</button>
                </div>
            </div>
            <div class="form-group col-md-5">
                <div class="row well">
                    <div>
                        <label for="lblSessionId">Session #: </label>
                        <span id="lblSessionId" class="form-control-static">nnnnnn</span>
                    </div>
                    <div style="margin-top: 20px; margin-bottom: 10px;">
                        <label for="txtTitle">Title: </label>
                        <input class="form-control" id="txtTitle" type="text"/>
                    </div>
                    <button id="btnSetTitle" class="btn btn-default">Update Title</button>

                    <hr />
                    <div class="table-responsive">
                        <table class="table">
                            <tbody id="votes">
                            <tr><td>no votes yet</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div style="margin-bottom: 20px;">
                    <button class="btn btn-default" id="btnShare">Share</button>
                    <input type="text" id="txtShare" style="visibility:hidden;" />
                </div>

                <div class="well">
                    <div class="form-group">
                        <label for="txtUser">Names:</label>
                        <input class="form-control" id="txtUser" placeholder="Name Name Name" type="text"/>
                    </div>
                    <div class="form-group" id="ctlVotes" style="margin-top: 10px; margin-bottom: 10px;">
                        <label for="txtVote">Votes:</label>
                        <input class="form-control" id="txtVote" placeholder="## ## ##" type="text"/>
                        <span class="help-block" id="lblVoteError" >Only integers with spaces or commas</span>
                    </div>
                    <button id="btnVote" class="btn btn-default">Cast Vote</button>
                </div>

            </div>
        </div>

        <hr />

        <div class="row" id="Log">
        </div>

        <div class="alert alert-warning" id="error_details">
            <h3>ERROR</h3>
        </div>
    </div>

    </body>

</html>