
{% extends "layout.html" %}
{% block reused_content %}

<div class="row">
    <div class="col-md-3">
        <fieldset class="form-group well">
           <h5>Choose Session</h5>
            <div class="form-group">
                <label><input type="radio" name="optSession" value = "new" checked="checked"> New</label>
                <div style="margin-top: 5px; margin-left: 20px; margin-bottom: 15px;">
                    <button class="btn btn-default" id="btnCreate">Create</button>
                </div>
                <div style="margin-bottom: 10px;margin-left: 20px;">
                    <button type="button" class="btn btn-default disabled" id="btnShare">Share</button>
                    <input type="text" id="txtShare" style="margin-top: 5px; visibility:hidden;" />
                </div>
                <label><input type="radio" name="optSession" value="existing"> Existing</label>
                <div style="margin-left: 20px;">
                    <div style="margin-top: 5px; margin-bottom: 5px;">
                        <input class="form-control" style="width: 100px" id="txtSession" placeholder="aann" type="text"/>
                    </div>
                    <button id="btnJoin" class="btn btn-default">Join</button>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group well">
          <div style="margin-top: 20px; margin-bottom: 10px;">
                <label for="txtTitle">New Title: </label>
                <input class="form-control" id="txtTitle" type="text"/>
            </div>
            <div class="form-check">
            <button id="btnSetTitle" class="btn btn-default">Set Title</button>
                <label class="form-check-label">
                    <input id="chkResetVotes" class="form-check-input" type="checkbox" value="">
                    Reset Votes
                </label>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <button id="btnReset" class="btn btn-default">Reset Votes</button>
        </fieldset>

    </div>
    <div class="form-group col-md-5">
        <div class="row well">
            <div>
                <label for="lblSessionId">Session: </label>
                <span id="lblSessionId" class="form-control-static">nnnnnn</span>
            </div>
            <div style="margin-top: 10px; margin-bottom: 15px;">
                <label for="lblTitle">Title: </label>
                <div id="lblTitle" class="text-primary">no title yet</div>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <tbody id="votes">
                    <tr><td>no votes yet</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">

        <div class="well">
            <div class="form-group">
                <label for="txtUser">Names:</label>
                <input class="form-control" id="txtUser" placeholder="Name Name Name" type="text"/>
            </div>
            <div class="form-group" id="ctlVotes" style="margin-top: 10px; margin-bottom: 10px;">
                <label for="txtVote">Votes:</label>
                <input class="form-control" id="txtVote" placeholder="## ## ##" type="text"/>
                <span class="help-block" id="lblVoteError" >Only integers with spaces or commas</span>
            </div>
            <button id="btnVote" class="btn btn-default">Cast Vote</button>
        </div>

    </div>
</div>

{% endblock %}